*{
    padding: 0px;
    margin: 0px;
}
#back-img{
    width: 100%;
    height: 500px;
    position: relative;
}
#img-sld{
    width: 100%;
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.blok-1{
    position: absolute;
    top:130%;
    left: 25%;
    background-color: rgba(0, 0, 0, 0.75);
    width: 50%;
    height: 200px;
}
#meni{
    flex:50%;
    text-align: center;
}
#meni ul{
    list-style-type: none;
}
#meni ul li{
    display: inline;
}
#meni ul li a{
    text-decoration: none;
    font-weight: bold;
    font-size:20px ;
    color: black;
    margin-right: 20px;
}
#text-1{
    width: 40%;;
    position:absolute;
    top: 50%;
    left:30%;
    text-align: center;
}
nav.sticky{
    background-color: rgba(0, 0, 0, 0.75);
    transition: 0.5s;
    color: skyblue;
}
nav.sticky #meni ul li a{
    color: white;
}
nav{
    padding: 15px;
    top:0px;
    left: 0px;
    display: flex;
    flex-direction: row;
    width: 100%;
    color: black;
    position: fixed;
}
#logo{
    flex:50%;
}
#main{
    width: 100%;
    height: 600px;
}